/**
 * @name User_Popout
 * @author NFLD99
 * @version ersion auto updates
 * @description Thank you for choosing NFLD Inc!
 * @source https://github.com/NFLD99/Better-Discord
 * @website https://nfld99.com/
 * @patreon https://nfld99.com/patreon
 * @authorLink https://discordhub.com/profile/483413721876529174
 * @donate https://nfld99.com/paypal
 * @authorId 483413721876529174
 * @invite 9ArHYa9
*/
:root {
--Popout-Main-Colour: rgba(0, 226, 204, 1);
--Popout-Background: url(https://nfld99.com/Bkg/DOFpZY5.jpg) ;
--Popout-Text-Shadow-Colour: rgba(0,0,0, .45);
--Popout-Scroller-Colour: red;
}

.connectedAccountIcon-2nYV8J,.headerPlaying-j0WQBV,.topSectionPlaying-1J5E4n,.headerStreaming-2FjmGz,.topSectionStreaming-1Tpf5X {
border:none!important;
background-color: rgba(255, 255, 255, 0) !important;
}

/* New UserPopouts */
.userPopout-3XzG_A {
background: var(--Popout-Background) 50% 50%/cover;
border:1px solid var(--Secondary-Main-Colour);
}
.theme-dark .headerNormal-T_seeN {
background-color: transparent;
}
.header-2BwW8b {
color: var(--Popout-Main-Colour);
line-height: 20px;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
background-color: transparent;
color: var(--Popout-Main-Colour);
}
.theme-dark .footer-1fjuF6 {
display:none;
}
.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881,.headerTag-2pZJzA,.bodyTitle-Y0qMQz,.theme-dark .textarea-2r0oV8 textarea{
color: var(--Popout-Main-Colour)!important;
}
.theme-dark .textarea-2r0oV8 textarea:focus {
background-color: var(--Secondary-Background-Colour);
}
.headerSpotify-zpWxgT,.headerPlaying-j0WQBV,.headerStreaming-2FjmGz,.lookGhost-2Fn_0-.colorGrey-4JijJ1:active,.lookGhost-2Fn_0-.colorBrand-3PmwCE {
background: transparent;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover,.lookGhost-2Fn_0-.colorGrey-4JijJ1:active {
border-color: var(--Secondary-Main-Colour);
color: var(--Secondary-Main-Colour);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover:hover,.lookGhost-2Fn_0-.colorBrand-3PmwCE {
border-color: var(--Main-Colour);
color: var(--Main-Colour);
}
.theme-dark .elevationBorderHigh-2WYJ09 {
box-shadow:none;
}
.theme-dark .topSectionNormal-2-vo2m{
background:transparent;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
background-color: transparent;
color: var(--Popout-Main-Colour);
border: 1px solid var(--Popout-Main-Colour);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
background: var(--Popout-Background) 50% 50%/cover;
color: var(--Popout-Main-Colour);
border: 1px solid var(--Popout-Main-Colour);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
background: var(--Popout-Background) 50% 50%/cover;
color: var(--Popout-Main-Colour);
border: 1px solid var(--Popout-Main-Colour);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
background-color: transparent;
color: var(--Popout-Main-Colour);
border: 1px solid var(--Popout-Main-Colour);
}
/* New UserPopouts */
@keyframes pulse {
0% {
opacity: 0.2;
}
25% {
opacity: 1;
}
50% {
opacity: 0.2;
}
75% {
opacity: 1;
}
100% {
opacity: 0.2;
}
}
